<div class="container bg-light border">
  <header class="d-flex justify-content-center p-2 bg-secondary rounded">
    <img src="./../assets/pokebola.png" alt="Pokebola">
    <h1 class="align-middle ml-2 text-white">POKEDEX_</h1>
  </header>
  <div class="pl-4 pr-4 mb-5">
    <section class="mt-5 bg-white d-flex justify-content-center p-2">
      <img src="./../assets/llama.png" alt="Llama">
      <h2 class="p-3">{{pokemon.name}}</h2>
    </section>
    <section class="d-flex justify-content-center">
        <img src="./../assets/{{pokemon.img}}" alt="{{pokemon.name}}">
    </section>
    <article class="justify-content-center">
      <div class="table-responsive border bg-white w-75 m-auto pt-5" id="infoPoke">
          <table class="table table-borderless  text-center  mb-5">
              <tr>
                <td>NO</td>
                <td>{{pokemon.number}}</td>
              </tr>
              <tr>
                <td>LEVEL</td>
                <td>{{pokemon.level}}</td>
              </tr>
              <tr>
                <td>TYPE</td>
                <td>{{pokemon.type}}</td>
              </tr>
              <tr>
                <td>HABILITY</td>
                <td>{{pokemon.hability}}</td>
              </tr>
              <tr>
                <td>HEIGHT</td>
                <td>{{pokemon.height}}</td>
              </tr>
              <tr>
                <td>WEIGHT</td>
                <td>{{pokemon.weight}}</td>
              </tr>
            </table>
      </div>
      
    </article>
  </div>
  <footer class="bg-white p-4">
    <h3 class="text-center">Others</h3>
    <div class="pokemons w-50 m-auto">
      <div class="row">
        <div class="col-md-6 mt-5 mb-5" *ngFor="let pokemon of pokemons">
           <button>
              <img src="./../assets/{{pokemon.img}}" alt="{{pokemon.name}}">
           </button>
        </div>
      </div>
    </div>
  </footer>
  
</div>